<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>61643766623-eki857p9v18onsmlapuiji5qu7dp2nvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.61643766623-eki857p9v18onsmlapuiji5qu7dp2nvu</string>
	<key>API_KEY</key>
	<string>AIzaSyCmBncp2zvvlhEaK-JlL_m1j_nzoqKQdU4</string>
	<key>GCM_SENDER_ID</key>
	<string>61643766623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.auth</string>
	<key>PROJECT_ID</key>
	<string>auth-26209</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-26209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61643766623:ios:b50b2beb3c0111e86394ea</string>
</dict>
</plist>